.m-4 {
  margin: 1rem
}

.mt-2 {
  margin-top: 0.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.h-screen {
  height: 100vh
}

.w-screen {
  width: 100vw
}

.justify-center {
  justify-content: center
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity))
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pl-2 {
  padding-left: 0.5rem
}

.align-middle {
  vertical-align: middle
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

body {
  margin: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  padding: 0px
}

.logo {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  padding: 0.5rem;
  text-align: center;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  height: 40px;
  line-height: 20px;
  width: 80px;
  margin: 20px auto
}
